################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/xLiAd.SqlEx
/xLiAd.SqlEx.Core/bin/Debug/netstandard2.0
/xLiAd.SqlEx.Core/obj
/xLiAd.SqlEx.Repository/bin/Debug/netstandard2.0
/xLiAd.SqlEx.Repository/obj
/xLiAd.SqlEx.RepositoryMsSql/bin/Debug/netstandard2.0
/xLiAd.SqlEx.RepositoryMsSql/obj
/xLiAd.SqlEx.RepositoryMySql/bin/Debug/netstandard2.0
/xLiAd.SqlEx.RepositoryMySql/obj
/xLiAd.SqlEx.RepsotiroyMySql.Test/bin/Debug/netcoreapp3.0
/xLiAd.SqlEx.RepsotiroyMySql.Test/obj
/.vs
/xLiAd.SqlEx.RepositoryMsSql.Test/bin/Debug/netcoreapp3.0
/xLiAd.SqlEx.RepositoryMsSql.Test/obj
/xLiAd.SqlEx.Core/bin/Release/netstandard2.0
/xLiAd.SqlEx.Core/nupkgs
/xLiAd.SqlEx.Core/nupkgsSymb
*.bat
/xLiAd.SqlEx.Repository/bin/Release/netstandard2.0
/xLiAd.SqlEx.Repository/nupkgs
/xLiAd.SqlEx.Repository/nupkgsSymb
/xLiAd.SqlEx.RepositoryMsSql/bin/Release/netstandard2.0
/xLiAd.SqlEx.RepositoryMsSql/nupkgs
/xLiAd.SqlEx.RepositoryMsSql/nupkgsSymb
/xLiAd.SqlEx.RepositoryMySql/bin/Release/netstandard2.0
/xLiAd.SqlEx.RepositoryMySql/nupkgs
/xLiAd.SqlEx.RepositoryMySql/nupkgsSymb
